<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-tab-button tab="menu" style="float: left; background: transparent">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title class="ion-text-start">Маршруты</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>
          <h2>10</h2>
          <ion-label color="medium">Ул. Ленина - Ул. Циолковского</ion-label>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <h2>10 A</h2>
          <ion-label color="medium">Ул. Ленина - Ул. Циолковского</ion-label>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
