<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>law-enforcement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card *ngFor="let bank of  arr">
      <ion-card-header>
        <ion-card-subtitle style="color: rgb(231, 172, 172)"
          >{{bank.title}}</ion-card-subtitle
        >
        <ion-card-subtitle>{{bank.address}}</ion-card-subtitle>
        <ion-card-subtitle>{{bank.work_time}}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content> {{bank.description}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
