<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-tab-button tab="widgets" style="float: left; background: transparent">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
<!--    <ion-tab-button tab="widgets"  style="float: left; background: transparent">-->
<!--      <ion-back-button text="" color="light"></ion-back-button>-->
<!--    </ion-tab-button>-->
    <ion-title class="ion-text-start">Такси по городу</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-list>
          <ion-item href="tel:911">
            <ion-label>Такси Атырау Уральск</ion-label>
            <ion-icon name="call-outline" color="success"></ion-icon>
          </ion-item>
          <ion-item href="tel:911">
            <ion-label>Веста - Вояж Такси</ion-label>
            <ion-icon name="call-outline" color="success"></ion-icon>
          </ion-item>
          <ion-item href="tel:911">
            <ion-label>Такси Berish</ion-label>
            <ion-icon name="call-outline" color="success"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
