<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-tab-button tab="menu" style="float: left; background: transparent">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title class="ion-text-start">Земельные торги</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item routerLink="auction">
        <ion-thumbnail class="ion-margin">
          <ion-img src="https://hdqwalls.com/wallpapers/thumb/green-blue-violet-gradient-8k-xv.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Аукцион</h2>
        </ion-label>
      </ion-item>
      <ion-item routerLink="auction">
        <ion-thumbnail class="ion-margin">
          <ion-img src="https://hdqwalls.com/wallpapers/thumb/green-blue-violet-gradient-8k-xv.jpg"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>Конкурс</h2>
        </ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-content>
