<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title class="ion-text-center">
      Виджеты
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size-xs="6" size-sm="6" size-md="3" size-lg="2" *ngFor="let item of widgetItems">
      <ion-card class="ion-text-center" [routerLink]="item['link']" button="true">
        <ion-card-header>
          <ion-icon color="success" size="large" [name]="item['icon']"></ion-icon>
          <ion-card-subtitle>{{ item['title'] }}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
