<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-tab-button tab="widgets" style="float: left; background: transparent">
      <ion-icon size="large" color="light" name="arrow-back-outline"></ion-icon>
    </ion-tab-button>
    <ion-title class="ion-text-start">Расписание автовокзала</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button size="large" class="ion-text-uppercase">купить билеты онлайн</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-header>
          <ion-card-title class="ion-padding">321X</ion-card-title>
        </ion-header>
        <ion-list>
          <ion-item>
            <ion-label>Направление</ion-label>
            <ion-label>Атырау - Астана</ion-label>
          </ion-item>
          <ion-item>
            <ion-text class="ion-padding-end">Отправление</ion-text>
            <ion-card-subtitle>08:00 | 10:00 | 12:00 | 14:00 | 16:00 | 18:00</ion-card-subtitle>
          </ion-item>
          <ion-item>
            <ion-label>Отправление</ion-label>
            <ion-label>Ежедневно</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-header>
          <ion-card-title class="ion-padding">321X</ion-card-title>
        </ion-header>
        <ion-list>
          <ion-item>
            <ion-label>Направление</ion-label>
            <ion-label>Атырау - Астана</ion-label>
          </ion-item>
          <ion-item>
            <ion-text class="ion-padding-end">Отправление</ion-text>
            <ion-card-subtitle>08:00 | 10:00 | 12:00 | 14:00 | 16:00 | 18:00</ion-card-subtitle>
          </ion-item>
          <ion-item>
            <ion-label>Отправление</ion-label>
            <ion-label>Ежедневно</ion-label>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
